/*
 * @Description: 
 * @Author: 柳涤尘 https://www.iimm.ink
 * @LastEditors: 柳涤尘 liudichen@foxmail.com
 * @Date: 2022-03-15 22:44:49
 * @LastEditTime: 2022-03-15 22:45:34
 */
{
  "presets": ["@babel/preset-react"]
}